[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/Slamtec/rplidar_ros.git
	branch = ros2
[submodule "src/imu_ros2"]
	path = src/imu_ros2
	url = https://github.com/analogdevicesinc/imu_ros2.git
	branch = jazzy
