<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:include filename="$(find zed_description)/urdf/zed_macro.urdf.xacro" />

    <xacro:zed_camera name="zed" model="zed2i">   
        <gnss_origin/>
    </xacro:zed_camera>

    <joint name="zed_camera_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="zed_camera_link" />
        <origin xyz="0 0 1.0033" rpy="0 ${11.5/180*pi} ${pi/2}" />
    </joint>

    <gazebo reference="zed_left_camera_frame">
        <sensor name="zed_depth" type="depth">
            <pose> 0 0 0 0 0 0 </pose>
            <topic>zed/depth</topic>
            <update_rate>20</update_rate>
            <always_on>1</always_on>
            <gz_frame_id>zed_left_camera_frame_optical</gz_frame_id>
            <camera>
                <horizontal_fov>1.51843645</horizontal_fov>
                <image>
                    <format>R_FLOAT32</format>
                    <width>1280</width>
                    <height>720</height>
                </image>
                <clip>
                    <near>0.28</near>
                    <far>10</far>
                </clip>
            </camera>
            <plugin filename="libgz-sim8-sensors-system.so" name="gz::sim::v8::systems::Sensors"></plugin>
        </sensor>
    </gazebo>

    <gazebo reference="zed_left_camera_frame">
        <sensor name="camera" type="camera">
            <camera>
                <horizontal_fov>1.51843645</horizontal_fov>
                <image>
                    <width>1280</width>
                    <height>720</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>20</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <!-- Noise is sampled independently per pixel on each frame.
                        That pixel's noise value is added to each of its color
                        channels, which at that point lie in the range [0,1]. -->
                    <mean>0.0</mean>
                    <stddev>0.007</stddev>
                </noise>
                <optical_frame_id>zed_left_camera_frame_optical</optical_frame_id>
                <camera_info_topic>zed/camera_info</camera_info_topic>
            </camera>
            <always_on>1</always_on>
            <update_rate>20</update_rate>
            <visualize>true</visualize>
            <topic>zed/color</topic>
        </sensor>
    </gazebo>
</robot>
